* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #fff;
  --white-red: rgb(238, 101, 101);
  --light-grey: #d3d3d3;
}

body {
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(31,31,44,255);
  height: 80px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width:120px;
  height: 70px;
  background: transparent;
}

.navbar-ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.tags {
  text-decoration: none;
  color: var(--white);
  transition: 0.25s all ease;
}

.tags:hover {
  color: var(--white-red);
}

#active {
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 2px;
}

/* Main Section */
main {
    background-image: linear-gradient(to bottom, rgba(115, 115, 121, 0.522), rgba(102, 89, 99, 0.73)),
    url('images/bg-img.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    gap: 10px;
}
.main-text {
    width: 45%;
    text-align: center;
    margin-top: 10px;
}

.main-text .header {
    color: var(--white);
    font-size: 28px;
    padding: 5px;
}

.main-text .paragraph {
    width: 100%;
    text-align: center;
    color: var(--white);
    padding-top: 5px;
    font-size: 15px;
}

.main-text .btn {
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.25s all ease;
}

.btn:hover {
    background-color: var(--white-red);
    color: var(--white);
    scale: 1.5;
}

/* services Section */
.service-title {
  color: var(--white);
}
.services {
  background-image: url(./images/services.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 60vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.mycards { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--white-red);
  width: 300px;
  background: transparent;
  color: var(--white);
  border-radius: 10px;
  transition: all .3s ease;
}

.mycards:hover {
  scale: 1.1;
}

.mycards img {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

.card-title {
  padding: 10px;
}

.card-description {
  padding-top: 15px;
}

.card-btn {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  padding:10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s all ease;
}

.card-btn:hover {
  color: var(--white);
  background-color: var(--white-red);
  scale: 1.2;
}